.hero-image {
    width: 100%;

    >span {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}
.post {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    h1 {
        font-size: 40px;
        margin: 24px 0;
    }
    .content {
        h2, h3, h4, h5, h6 {
            margin: 32px 0 12px 0;
        }
        p {
            margin-bottom: 18px;
            line-height: 2;
            &.caption {
                margin-top: -12px;
                font-size: 14px;
            }
        }
    
        a {
            text-decoration: underline;
        }
        .alert {
            padding: 12px;
            background-color: #e5b4b4;
            color: #C53030;
            border: solid 1px #C53030;
            border-radius: 6px;
        }
    }
}