.post {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    h1 {
        font-size: 40px;
    }

    a {
        text-decoration: underline;
    }

    p {
        line-height: 2;
    }
}